@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

ol, ul {
	padding-left: 0px;
}


:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--main: #2dbe6c;
	--light-main: #e5f8ed;
	--dark-main:#966abd;
	--button:#000000;
	--icon-pink:#0000;
	--light-pink:#e37eba8e;
	--light-blue: #add5fc;
	--dark-blue: #3d36a3da;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--light-black: rgb(34, 34, 34);
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green: #81D43A;
	--light-green: #e1f8cc;
	--dark-red: rgb(209, 4, 4);
	--dark-active: #15ce1e;
	--pending: #ffc917;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow: hidden;
}


/* VIEW MORE */
.V {
	padding: 4px 10px;
	border-radius: 5px;
	font-size: 11px;
	border: none;
	cursor: pointer;
	margin-bottom: 4px;
}

.V a{
	color: var(--light);
}

/* PENDING */
.N {
	padding: 4px 10px;
	border-radius: 5px;
	color: var(--light);
	font-size: 11px;

}

/*archives */
.archives{
	padding: 8px 25px;
	border: none;
	border-radius: 7px;
	font-weight: 600;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 1.5rem;
}

/* CONTENT */
#content {
	position: relative;
	width: 100%;
	transition: .3s ease;
}

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: hidden;
}

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	width: 100%;
	overflow-x: hidden;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 15px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--main);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--main);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */


/* START TABLES */

#content main .table-data .order .data-table{
	display: block;
    text-align: center;
}

#content main .table-data .order .data-table .searchBx{
    display: flex;
	justify-content: right;
	padding-bottom: 1rem;
	margin-top: 2rem;

}
#content main .table-data .order .data-table .searchBx a{
	background-color: var(--main);
	color: var(--light);
	padding: 8px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
}

#content main .table-data .order .data-table .searchBx a:hover {
	background-color: var(--dark-main);
	color: var(--light);
}

#content main .table-data .order .data-table .searchBx .search{
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    background-color: var(--light);
    height: 35px;
	border-style: none;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

#content main .table-data .order .data-table .searchBx .searchBtn{
    background-color: var(--main);
	border-color: var(--main);
    border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-style: none;
    width:35px;
	margin-left: -34px;
	color: var(--light);
}

#content main .table-data .order .data-table .qrdataTable{
    display: flex;
    position: absolute;
}

#content main .table-data .order .data-table .table{
	overflow-x: auto;
    overflow-y: auto;
    font-size: 13px;
    margin-right: 3rem;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    font-style: 50rem;
}

#content main .table-data .order .data-table .table .row-count{
	padding-bottom: 1rem;
	text-align: left;
	font-weight: 500;
}

#content main .table-data .order .data-table .table td{
	padding: 15px 9px;
	width:auto;
	padding-bottom: 5px;
    text-align: center;
	background-color: var(--light);
	font-weight: 600;
	font-size: 11px;
	color: var(--light-black);
}


#content main .table-data .order .data-table .table thead {
    font-weight: 400;
	font-size: 11px;
    --bs-table-bg: var(--main);
	color: var(--light);
	vertical-align: middle;
}

.table>:not(:first-child) {
	border-top: none;
}
#content main .table-data .order .data-table .table h1 {
	text-align: center;
	font-size: 1.5rem;
	padding: 5rem 0;
}

#content main .table-data .order .data-table .reservation_pagination{
	font-size: 12px;
	display: flex;
	justify-content: right;
}

#content main .table-data .order .data-table .table .page-link{
    border-radius: 5px;
    color: var(--dark);
	font-weight: 600;
	padding: 7px 10px;
}

#content main .table-data .order .data-table .table .page-item.active .page-link{
    background-color: var(--button);
    color: var(--light);
    border-color: var(--button);

}
/* END OF TABLES */

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: 100%;
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
	#content nav .bx.bx-menu {
		display: flex;
	}
	#content main .table-data .order .data-table .table .reservation_pagination{
		margin-left: -9px;
		font-size: 12px;
		justify-content: left;
	}

}